@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Concert One','微軟正黑體';
}

*::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #F7F7F7;
  font-family: 'Concert One','微軟正黑體';
}

body {
  font-size: 1.6rem;
  color: #383838;
  background-color: #f8f8f8;
  font-family: 'Concert One','微軟正黑體';
}

a {
  color: #A07EC4;
  text-decoration: none;
}

header {
  padding: 10px 20px;
}

header img {
  width: 110px;
}

input#toggle {
  display: none;
}

.menu {
  position: fixed;
  z-index: 9999;
  top: 1em;
  right: 2em;
}

.menu .cross {
  width: 55px;
  height: 55px;
  border-radius: 100em;
  position: relative;
  background-color: #FED766;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  cursor: pointer;
}

.menu .cross .line1, .menu .cross .line2 {
  width: 30px;
  height: 5px;
  background-color: #F7F7F7;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.menu .cross .line1 {
  -webkit-transform: translateX(-50%) translateY(-160%);
          transform: translateX(-50%) translateY(-160%);
}

.menu .cross .line2 {
  -webkit-transform: translateX(-50%) translateY(80%);
          transform: translateX(-50%) translateY(80%);
}

.menu ul {
  position: absolute;
  top: 60px;
  right: 0px;
  width: 150px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background: #A07EC4 url(../img/pat.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 250%;
  border-radius: 20px;
  text-align: center;
  padding: 20px 0;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  opacity: 0;
}

.menu ul li {
  padding: 10px 0;
  font-size: 1.5em;
  letter-spacing: 3px;
  position: relative;
  cursor: pointer;
}

.menu ul li a {
  color: #F7F7F7;
}

.menu ul li::after {
  position: absolute;
  content: "";
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  top: 50%;
  left: 0;
  width: 6px;
  height: 6px;
}

.menu ul li:hover::after {
  opacity: 1;
  top: 5px;
  left: 0;
  width: 6px;
  height: 35px;
  background-color: #FED766;
}

input#toggle:checked ~ label .cross {
  background-color: #A07EC4;
}

input#toggle:checked ~ label .cross .line1, input#toggle:checked ~ label .cross .line2 {
  width: 30px;
}

input#toggle:checked ~ label .cross .line1 {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

input#toggle:checked ~ label .cross .line2 {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

input#toggle:checked ~ ul {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.cd-horizontal-timeline {
  opacity: 0;
  margin: 2em auto;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.cd-horizontal-timeline::before {
  content: 'mobile';
  display: none;
}

.cd-horizontal-timeline.loaded {
  opacity: 1;
}

.cd-horizontal-timeline .timeline {
  position: relative;
  height: 100px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
}

.cd-horizontal-timeline .events-wrapper::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}

.cd-horizontal-timeline .events-wrapper::before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#f8f8f8), to(rgba(248, 248, 248, 0)));
  background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));
}

.cd-horizontal-timeline .events-wrapper::after {
  right: 0;
  background-image: -webkit-gradient(linear, right top, left top, from(#f8f8f8), to(rgba(248, 248, 248, 0)));
  background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));
}

.cd-horizontal-timeline .events {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 49px;
  height: 2px;
  background: #dfdfdf;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.cd-horizontal-timeline .filling-line {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #A07EC4;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 20px;
  color: #A07EC4;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.cd-horizontal-timeline .events a::after {
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid #FBF3A9;
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}

.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #A07EC4;
  border-color: #A07EC4;
}

.cd-horizontal-timeline .events a.selected {
  pointer-events: none;
}

.cd-horizontal-timeline .events a.selected::after {
  background-color: #FBF3A9;
  border-color: #FBF3A9;
}

.cd-horizontal-timeline .events a.older-event::after {
  border-color: #FBF3A9;
}

.workimgs {
  padding: 8% 0;
  background-color: #99C0E6;
  position: relative;
}

.workimgs img {
  width: 35%;
  border: 10px solid #F7F7F7;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #F7F7F7;
}

.workimgs .img1 {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.workimgs .img2 {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.workimgs .m_index {
  position: absolute;
  width: 100%;
  height: 100px;
  top: -90px;
  left: 0;
  background-color: #99C0E6;
  -webkit-mask-image: url(../img/m_index.svg);
          mask-image: url(../img/m_index.svg);
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center bottom;
          mask-position: center bottom;
}

.bottom {
  width: 100%;
  height: 150px;
  padding: 60px 0;
  margin: 0;
  background: #7FACCC url(http://www.graphicartsunit.com/images/noise.png);
  text-align: center;
}

.bottom .view-btn {
  position: relative;
  font-weight: bold;
  color: #2F323A;
  font-size: 3rem;
  letter-spacing: 1.5px;
  text-decoration: none;
  padding: 0.4em 1.2em;
  border-radius: 100em;
  width: 100%;
  height: 100%;
  background: url(http://www.graphicartsunit.com/images/noise2.png);
}

.bottom .view-btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100em;
  left: -4px;
  top: -4px;
  border: 3px solid #2F323A;
}

.bottom .view-btn:active::before {
  top: 0;
  left: 0;
}

footer {
  text-align: center;
  font-weight: normal;
  color: #A07EC4;
}

@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline {
    margin: 0 auto;
  }
  .cd-horizontal-timeline::before {
    content: 'desktop';
  }
}

.cd-timeline-navigation a {
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background-color: #A07EC4;
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}

.cd-timeline-navigation a::after {
  content: '>';
  position: absolute;
  height: 16px;
  width: 16px;
  left: 13%;
  top: 20%;
  color: #F7F7F7;
  font-size: 2em;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.cd-timeline-navigation a.prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.cd-timeline-navigation a.next {
  right: 0;
}

.no-touch .cd-timeline-navigation a:hover {
  border-color: #A07EC4;
}

.cd-timeline-navigation a.inactive {
  cursor: not-allowed;
}

.cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px;
}

.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  margin: 2em 0;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
  text-align: center;
}

.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 0 5%;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}

.cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}

.cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.cd-horizontal-timeline .events-content li > * {
  max-width: 800px;
  margin: 0 auto;
}

.cd-horizontal-timeline .events-content h2 {
  font-weight: bold;
  font-size: 2.6rem;
  line-height: 1.2;
  text-align: left;
}

.cd-horizontal-timeline .events-content em {
  display: block;
  font-weight: normal;
  margin: 10px auto;
  text-align: left;
  color: #2F323A;
}

.cd-horizontal-timeline .events-content em::before {
  content: '- ';
}

.cd-horizontal-timeline .events-content p {
  padding-top: 20px;
  font-size: 1.4rem;
  color: #2F323A;
  text-align: left;
  margin-bottom: 100px;
}

.cd-horizontal-timeline .events-content em, .cd-horizontal-timeline .events-content p {
  line-height: 2.3;
}

@media only screen and (min-width: 768px) {
  .cd-horizontal-timeline .events-content h2 {
    font-size: 3em;
  }
  .cd-horizontal-timeline .events-content em {
    font-size: 2rem;
  }
  .cd-horizontal-timeline .events-content p {
    font-size: 1.8rem;
  }
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}

@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}

@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
/*# sourceMappingURL=time.css.map */